{% extends "base.html" %}

{% block main %}
<H1>My Library</H1>

<a class="btn btn-primary" href="{{ url_for('landingPage') }}"> Logout </a>


<form action="{{ url_for('library')}}" method="post">
    {{ form.csrf_token }}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.companyName.label }}
    {{ form.companyName }}
    {{ form.emailAddress.label }}
    {{ form.emailAddress }}
    {{ form.telephoneNumber.label }}
    {{ form.telephoneNumber }}
    {{ form.submit }}
</form>


<h4> Cards List</h4>
<ul>
    {% for card in user.cards.all() %}
        <li>{{card.name}}</li>
        <li>{{card.companyName}}</li>
        <li>{{card.emailAddress}}</li>
        <li>{{card.telephoneNumber}}</li>
    {% endfor %}

</ul>




{% endblock %}